@page "/vehicles/"
@inject HttpClient _Client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title"> Our Vehicles</h3>


    <table class="table table-responsive">
        <thead>
            <tr>
                <th> Make </th>
                <th> Model </th>
                <th> Year </th>
                <th> License Plate Number </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
          
                <tr>
                    <td> H </td>
                    <td> I </td>
                    <td> H </td>
                    <td> I </td>
                    
                </tr>
            
        </tbody>
    </table>


@code {
    
    

}